.panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.output { grid-area: 1 / 1 / 3 / 2; }
.values { grid-area: 1 / 2 / 2 / 3; }
.buttons { grid-area: 2 / 2 / 3 / 3; }

.center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    gap: 8px;
}


/* Terminal Stuff */
.terminal-body {
    border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    background: #fafafa;

    font-family: "SFMono-Regular", "Consolas", "Menlo", monospace;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    padding: 10px 14px;
    overflow-y: auto;
    font-size: 13px;
    line-height: 1.6;
}

.terminal-line {
    display: flex;
    gap: 8px;
    white-space: pre-wrap;
    word-break: break-word;
    color: #d4d4d4;
}
