.main-modal {
    max-width: 85%;
}

.horz {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.fixed-height-modal {
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
}

#data-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}